:host{
    margin-top: 20px;
    display: block;
    text-align: center;
    img{
        margin-top: 20px;
        width: 15%;
        border-radius: 50%;
        @media screen and (max-width: 768px){
            width: 40%;
        }
    }
    h1{
        margin-top: 20px;
        font-size: 2em;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        @media screen and (max-width: 768px){
            font-size: 1.3em;
        }
    }
    h2{
        margin: auto;
        margin-top: 20px;
        width: 70%;
        font-size: 1.4em;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        @media screen and (max-width: 768px){
            font-size: 1em;
            width: 85%;
        }
    }
}