<div class='element'>
  <a target="_blank" href='http://mpiesik.pl/calendar'><img src='./assets/images/calendar.png' alt='Calendar'></a>
  <p><a target="_blank" href='http://mpiesik.pl/calendar'>The calendar</a> is an application created in Angular and it is a project that I'm currently working on. It's a simple calendar for planning meetings, appointments and setting up reminders.</p>
</div>
<div class='element'>
  <a target="_blank" href='http://mpiesik.pl/MyStorage'><img class='pull-right' src='./assets/images/mystorage.png' alt='MyStorage'></a>
  <p class='pull-left'><a target="_blank" href='http://mpiesik.pl/MyStorage'>MyStorage</a> is an application created in JavaScript with use of jQuery and MySQL database connected via PHP. In this application, you can create invoices, hold information about the warehouse, create data related charts and much more.</p>
</div>
<div class='element'>
  <a target="_blank" href='http://mpiesik.pl/CleanThisMessNew'><img src='./assets/images/cleanthismess.png' alt='CleanThisMess'></a>
  <p><a target="_blank" href='http://mpiesik.pl/CleanThisMessNew'>CleanThisMess</a> is an application created in JavaScript with use of jQuer and MySQL database connected via PHP. This application is for collecting information about waste generated in company production process. It's arranged by departments and products.</p>
</div>